<div id="slider_wp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% for (let i = 0; i < slider.length; i++) { %>
                            <li data-target="#carousel" data-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : '' %>"></li>
                        <% } %>
                    </ol>
                    <div class="carousel-inner">
                        <% slider.forEach((slide, index) => { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img class="d-block w-100" style="height: 400px; object-fit: cover;" src="<%=BASE_URL + slide.slider_image %>" alt="Slide <%= index + 1 %>">
                                <div class="carousel-caption d-none d-md-block pt-5">
                                    <h5><%= slide.slider_title %></h5>
                                    <p><%= slide.slider_content.replace(/<\/?[^>]+(>|$)/g, "") %></p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
